*, body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 60px;
  background: #1f2937;
  padding: 15px;
}

.logo {
  font-size: 1.8em;
  color: #f9faf8;
  cursor: pointer;
  padding: 8px;
}

ul {
  display: flex;
  text-decoration: none;
}

li {
  list-style: none;
  padding: 8px;
  margin-bottom: 7px;
  /* margin-left: 10px; */
  font-size: 1.3em;
  color: #e5e7e8;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(20,0,50,0.50), 0 1px 2px rgba(100,0,50,0.44);
  border-radius: 5px;
}

li:hover, .logo:hover{
  background: #0099cc;
  box-shadow: 2px 3px 2px #fff;
  border-radius: 5px;
}

/* Hero Section */

.hero-section {
  background: #1f2937;
  display: flex;
  justify-content: space-between;
}

.hero-container{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

/* Media Query for hero section */

@media screen and (max-width: 720px) {
  .hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
   .hero-h2 {
    font-size: 2em;
    line-height: 2pc;
  }
}

.hero-text {
  width: 58%;
  margin: auto;
  text-align: left;
  padding: 15px 20px;
  border-radius: 8px;
}

.hero-text:hover{
  background: #3f631c;
  border-radius: 8px;
}

.image-container {
  width: 40%;
}

.hero-h2 {
  font-size: 6em;
  line-height: 5pc;
  font-weight: bolder;
  color: #f9faf8;
  word-wrap: break-word;
  text-shadow: 2px 3px 4px rgb(238, 187, 76);
}

.hero-text p {
  color: #e5e7e8;
  font-size: 1.5em;
  margin-bottom: 10px;
}

button {
  color: #fff;
  background: #3882f6;
  border-radius: 5px;
  padding: 6px;
  font-weight: bold;
  margin-top: 10px;
}

.image-container img, .details img{
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
}​

/* Information section */

.info-section {
  display: flex;
  justify-content: center;
  font-family: cursive;
}

.info-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.info-text {
  padding: 15px;
}

.info-details{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.details {
  margin-left: 15px;
  padding: 10px auto;
}

.section-3 {
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagequote {
  width: 60%;
  text-align: center;
  font-style: italic;
  color: #1f2937;
  margin: 10px;
}

blockquote{
  font-size: 2.5em;
  padding: 30px;
}

.pagequote p {
  color: #000;
  padding-bottom: 20px;
  text-align: end;
}

.section-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.call-container{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.call-to-action{
  width: 100%;
  background: #3882f6;
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
}

footer {
  background: #1f2937;
  font-size: 1.8em;
  color: #fff;
  text-align: center;
  padding: 30px;
}